<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title%>
    </title>
    <link rel="shorcut icon" type="image/x-icon" href="/images/Logo__.png">

    <link href="https://cdn.staticaly.com/gh/hung1001/font-awesome-pro/4cac1a6/css/all.css" rel="stylesheet"
        type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/main-home-page.css">
</head>

<body>
    <%-include('navbar.ejs')-%>
    <div class="analysis-container">
        <p class="fs-1 mt-2 fw-bolder text-black-50 ms-4">
            Graphical Analysis for Prize vs Rating :
        </p>
    
        <canvas id="myChart1" width="500px" height="100px" class="mb-5">
    
        </canvas>
    
        <canvas id="myChart2" width="500px" height="100px" class="mb-5">
    
        </canvas>

        <p class="fs-1 mt-2 fw-bolder text-black-50 ms-4">
            Few Insights :
        </p>
        <div class="container border border-5 border-info rounded-5 p-3 border-opacity-75 bg-dark  mb-5">
            <p class="fw-bolder fs-5 text-warning" >Average Rating of this Segment: <span id="avg-rating" class="text-white">&nbsp;</span></p>
            <hr class="border-info border-5">
            <p class="fw-bolder fs-5 text-warning" >Highest Rating: <span id="highest-rating" class="text-white">&nbsp;</span></p>
            <hr class="border-info border-5">
            <p class="fw-bolder fs-5 text-warning" >Average Prize of this Segment:<span id="avg-prize" class="text-white"> ₹&nbsp;</span></p>
            <hr class="border-info border-5">
            <p class="fw-bolder fs-5 text-warning" >Highest Prize:<span  id="highest-prize" class="text-white"> ₹&nbsp;</span></p>
            <hr class="border-info border-5">
            <p class="fw-bolder fs-5 text-warning" >Lowest Prize:<span id="lowest-prize" class="text-white"> ₹&nbsp;</span></p>
        </div>

        <p class="fs-1 mt-2 fw-bolder text-black-50 ms-4">
            Top 5 peformers of this Segment :
        </p>


        <div id="top-performer-container">
            
        </div>

        <p class="fs-1 mt-2 fw-bolder text-black-50 ms-4">
            Our Advise for Leading this Segment: 
        </p>

        <div id="our-advise" class=" mb-5 " >

            

        </div>
    
    </div>



        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>

        <script>

            let dataFetched = <%- JSON.stringify(fetchedData)%>; 
        </script>

        <script type="text/javascript" src="/js/analysis-result.js"></script>

</body>

</html>