<div class="txt-center welcome-heading">
    <!-- <h1>
        Welcome to FAssist
    </h1> -->
</div>

<div id="who-are-u" class="txt-center">
    <a href="/sign-in">
        Are you an existing user? 
    </a>
    <br> <br>
    <!-- change here sign-up -->
    <a href="/signup">
        Create a new account.
    </a>
    <br> <br>
    <!-- <a href="/users/auth/google">
        Get in via Google.
    </a> -->
</div>