<p id="sign-in-heading" class="txt-center">OTP Verification</p>

<form action="users/otp-check" method="POST" id="sign-in-form">
    <br>
    <br>
    <br>
    <label for="OTP">
        <font>Enter OTP</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input type="OTP" required placeholder ="OTP" id="OTP" name="OTP">
    <br>

    <div class="bar-1">
        <button type="submit" id="btn-log-in">
            <i class="fas fa-sign-in"></i> Verify
        </button>
    </div>
</form>