
<p id="sign-in-heading" class="txt-center">Sign-Up</p>

<form action="users/sign-up" method="POST" id="sign-in-form">
    <label for="email">
        <font>Email</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input type="email" required placeholder ="Enter Your Email" id="email" name="email">
    <br>
    <label for="Name">
        <font>Name</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label>
    <input id="Name" type="text" placeholder="Enter Your Name" required name="name"> 

    <label for="password">
        <font>Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input minlength="4" maxlength="20" id="password" type="password" placeholder="Create Password" required name="password" class="reduce-wdith-for-see-password">
    
    <input type="hidden" name="Bio" value="Tell people about yourself">
   
    <br>

    <label for="password">
        <font>Confirm Password</font> <i class="fas fa-level-down" style="position: relative; top: 4px;"></i>
    </label><br>
    <input minlength="4" maxlength="20" id="password" type="password" placeholder="Confirm Password" required name="CPassword" class="reduce-wdith-for-see-password">
    
    

    <br>

    <button type="submit" id="btn-log-in">
        <i class="fas fa-user-plus"></i> Sign-Up
    </button>
    
    <a href="/sign-in" id="sign-in-question">
        Are you an existing user? 
    </a>
</form>